<!DOCTYPE html>
<html lang="en-au">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=0; maximum-scale=0; user-scalable=0;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon-precomposed" href="/images/icons/iphone.png">
    <title>most days, but today?</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" charset="utf-8">
  </head>
  <body>
    <section>
      <h1 id="outcome">NO</h1>
		</section>
	</body>
</html>
